<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}
<div id="menu-principal">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    {% load static %}
    <a href='{% static "pasteleria/css/estilos.css"%}' id="menu-titulo" class="navbar-brand text white">
        Cake home
        <img  src='{% static "pasteleria/img/logo.png" %}' width="30 px" height="30px">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="incio" class="nav-item active">
                <a href="http://localhost:8000/pasteleria/" id="menu-home" class="nav-link">Inicio</a>
            </li>
            <li  class="nav-item active">
                <a href="http://localhost:8000/pasteleria/productos" id="menu-productos" class="nav-link">Productos</a>
            </li>  
            <li class="nav-item active">
                <a href="{% url 'pasteleria:iniciar_sesion' %}" id="miCuenta" class="nav-link">Mi cuenta</a>
            </li>  
        </ul>
    </div>  
</nav>
</div>
  {% if listado %}
    <div class="container">
        <br><br>
        <h3>Productos</h3>
        <hr>
        <ul class="list-group">
            {% for p in listado %}
                <li class="list-group-item">{{ p.producto }} ID: {{ p.id }}</li>
                <a href="{% url 'pasteleria:eliminar' p.id %}">Eliminar</a>
                
                <a href="{% url 'pasteleria:modificar' p.id %}">Modificar</a>
            {% endfor %}
            </ul>
        {% else %}

        <div class="container">
            <div class="alert alert-warning">
                <h4>No se han registrado productos</h4>
            </div>
        </div>
         {% endif %}  
    </div>    
<br>
<br>
<div class="container"><a class="btn btn-primary" href="{% url 'pasteleria:frm_agregar_producto' %}">Crear un producto</a>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'pasteleria:frm_buscar_producto' %}">Buscar producto</a>
    <br>
    <br>
    <a class="btn btn-primary" href="http://localhost:8000/apiProductos/">Ver datos de productos en la API</a>
</div>








