<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% if listado %}
    
    <div class="container">
        <h3>Productos</h3>
        <ul class="list-group">
            {% for p in listado %}
                <li class="list-group-item">{{ p.producto }} ID: {{ p.id }}</li>
                <a href="{% url 'pasteleria:eliminar' p.id %}">Eliminar</a>
                
                <a href="{% url 'pasteleria:modificar' p.id %}">Modificar</a>
            {% endfor %}
            </ul>
        {% else %}
            <p>No se han registrado productos</p>
        {% endif %}  
    </div>    
<br>
<br>
<div class="container"><a class="btn btn-primary" href="{% url 'pasteleria:frm_agregar_producto' %}">Crear un producto</a>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'pasteleria:frm_buscar_producto' %}">Buscar producto</a>
</div>



